<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<button class="btn btn-success" (click)="showSuccess()" ngbTooltip="Will disappear in 10s">Success toast</button>&nbsp;
<button class="btn btn-warning" (click)="showWarning()" ngbTooltip="Will disappear in 5s">Warning toast</button>&nbsp;
<button class="btn btn-danger" (click)="showError()" ngbTooltip="Will disappear in 3s">Error toast</button>&nbsp;

<p>{{ ( this.toastr$ | async) | json }}</p>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet></router-outlet>
<!-- <div [class.rounded-border]="this.wrapped"> -->
  <!-- <span *ngIf="this.wrapped" class="badge badge-primary">hola</span> -->
  <app-toasts 
    [toastr]="toastr$ | async" 
    (grouped)="wrappingToastr($event)"
    [ngClass]="{'shadow-lg p-3 mb-5 bg-white rounded': this.wrapped}"
  >
  </app-toasts>
  <!-- [style.content]="this.wrapped ? 'Hi' : 'auto' "> -->
<!-- </div> -->
